<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>lemonsource</servlet-name>
        <servlet-class>eu.monnetproject.lemon.source.web.SourceWebServlet</servlet-class>
        <init-param>
            <param-name>generator</param-name>
            <param-value>http://monnet01.sindice.net:8888/generate</param-value>
        </init-param>
        <init-param>
            <param-name>queryEndpoint</param-name>
            <param-value>http://monnetproject.deri.ie/lemonsource_query/</param-value>
        </init-param>
        <init-param>
            <param-name>updateEndpoint</param-name>
            <param-value>http://localhost:8000/update/</param-value>
        </init-param>
        <init-param>
            <param-name>updateQueryParam</param-name>
            <param-value>update</param-value>
        </init-param>
        <init-param>
            <param-name>sparqlDialect</param-name>
            <param-value>SPARQL11</param-value>
        </init-param>
        <init-param>
            <param-name>virt_import</param-name>
            <param-value>http://localhost:8000/data/</param-value>
        </init-param>
        <init-param>
            <param-name>dumps</param-name>
            <param-value>/home/jmccrae/dumps/</param-value>
        </init-param>
        <init-param>
            <param-name>static</param-name>
            <param-value>/home/jmccrae/static/</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>lemonsource</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
